version: 2
updates:
  - package-ecosystem: npm
    commit-message:
      prefix: "chore(npm-dep): "
    directory: '/'
    cooldown:
      default-days: 7
    schedule:
      interval: daily
      time: '05:00'
      timezone: Europe/London
    open-pull-requests-limit: 99
