name: Bump and Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - next
      - 'v*'
      
permissions:
  contents: write
  id-token: write

jobs:
  bump-and-publish:
    uses: marshmallow-insurance/campfire/.github/workflows/shared-semantic-release.yml@main
    secrets: inherit
