name: Bump and Publish

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  bump-and-publish:
    uses: ./.github/workflows/shared-semantic-release.yml
    secrets: inherit
