name: Merge Main
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  merge-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (to access local action)
        uses: actions/checkout@v4
      
      - uses: ./.github/actions/setup-node-project
      
      - name: Run Check Types
        run: |
          npm run check-types
      - name: Run Tests
        run: |
          npm run test
      - uses: ./.github/actions/run-fossa-analysis
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
