name: Merge Main
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  merge-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (to access local action)
        uses: actions/checkout@v4
      - uses: marshmallow-insurance/campfire/.github/actions/setup-node-project@main
      - name: Run Check Types
        run: |
          npm run check-types
      - name: Run Tests
        run: |
          npm run test
      - uses: marshmallow-insurance/campfire/.github/actions/run-fossa-analysis@main
        with:
          api-key: ${{ secrets.FOSSA_API_KEY }}
