name: Preview Bump and Publish

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  preview-bump-and-publish:
    uses: ./.github/workflows/shared-semantic-release-preview.yml
    secrets: inherit
